* {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 0;
    margin: 0;
}

body{
    background-image:url("../img/animado-animales.jpg") no-repeat center top;
}
.contenedor {
    height: 768px;
    margin: 0 auto;
    padding-left:50px;
    padding-right: 50px;
    /*Margin 0 auto se utiliza para centrar el div */
    background-color: white;
}

.fixed1 {
    position: relative;
    width: 100%;
}

.header {
    position: relative;
    width: 100%;
    height: 210px;
    background-color: rgba(255, 0, 0, 0.5);
    margin: 0 auto;
}

.logo {
    position: absolute;
}

.navheader {
    position: absolute;
    right: 100px;
    bottom: 10px;

}

.img-responsive {
    height: auto;
    max-width: 100%;
}

.divnav{
    width:100%;
}

nav ul li {
    color: white;
    list-style: none;
    float: left;
    border: 1px solid #1DAEEC;
    background-color: #1DAEEC;
    margin: 3px;
    line-height: 20px;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 5px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

.busqueda{
    width:100%;
    margin-bottom:15px;
    float: right;
}

.buscador{
    color:#1DAEEC;
    line-height: 20px;
    border-radius: 5px;
    float:right;
    line-height:30px;
    font-size:18px;
}


.navsecond{
    width:100%;
    height:72px;
    background-color:red; 
}